:root {
   --bg-section: linear-gradient(to right, #fa9e1b, #8d4fff);
   --btn-black: #31124b;
}

.search {
   /* border-radius: 105% 95% 95% 95% / 30%; */
   width: 100%;
   background-color: #4158D0;
   background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
}

.search__container {
   margin: 0 6em;
   height: 195px;
   border-radius: 50px;
}

.search__container--item {
   display: flex;
   flex-direction: column;
   padding-right: 70px;
   row-gap: 8px;
   color: #000;
}

.search__container--item label,
span {
   z-index: auto;
   color: white;
   font-weight: 700;
   font-size: 1rem;
   animation: pulse 3s infinite;
}

.search__container--btn {
   padding: 5px 50px;
   margin-bottom: 10px;
   background-color: var(--btn-black);
   border-radius: 53px;
   line-height: 53px;
   cursor: pointer;
}

.search__container--btn:hover {
   background: linear-gradient(to left, #fc7f41, #f46949, #e95351, #da3f58, #c82d5f);
}

/* *fix JQuery */
#ui-datepicker-div {
   background: lightgreen;
   border-radius: 10px;
   z-index: 10 !important;
}

.ui-datepicker .ui-datepicker-header {
   background: repeating-linear-gradient(145deg, #1d7f1f, transparent 100px);
}

@media only screen and (max-width: 768px) {
   .search__container {
      height: 100%;
   }

   .calendar-check-in {
      width: 100%;
      padding: 5px 20px;
   }

   .calendar-check-out {
      width: 100%;
      padding: 5px 20px;
   }

   .calendar-adults {
      width: 50%;
      padding: 5px 20px 10px;
   }

   .calendar-children {
      width: 50%;
      padding: 5px 20px 10px;
   }
}

@media only screen and (max-width: 46.25em) {
   #ui-datepicker-div {
      width: 90% !important;
   }

   .ui-datepicker-multi-2 .ui-datepicker-group {
      width: 100%;
   }
}