<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="./imgScrolling.css">
   <title>Document</title>
</head>

<body>
   <section>
      <img src="../../../assets/image/bg-main.webp" id="bg" alt="bg">
      <img src="../../../assets/image/bg-color.png" id="moon" alt="the moon">
      <img src="../../../assets/image/bg-color.png" id="mountain" alt="mountain">
      <img src="../../../assets/image/parallax-scrolling/road.png" id="road" alt="road">
      <h2 id="text">Angel Hotel</h2>
   </section>
   <script type="text/javascript">
      var bg = document.getElementById("bg");
      var moon = document.getElementById("moon");
      var mountain = document.getElementById("mountain");
      var road = document.getElementById("road");
      var text = document.getElementById("text");

      window.addEventListener('scroll', function () {
         var value = window.scrollY;
         bg.style.top = value * 0.5 + 'px';
         moon.style.left = -value * 0.5 + 'px';
         mountain.style.top = -value * 0.5 + 'px';
         road.style.bottom = value * 0.5 + 'px';
         text.style.top = value * 0.5 + 'px';
      })
   </script>
</body>

</html>