h1,
h2,
h3,
p {
   margin: revert;
   font-size: revert;
}

.bg-image {
   background-image: url(./assets/image/Slow.png);
   padding: 6em 0 5em;
   background-repeat: no-repeat;
   background-position: center center;
}

.info {
   display: flex;
}

.special {
   display: flex;
   flex-wrap: wrap;
   width: 300%;
   gap: 0 20px;
}

.special p {
   font-style: oblique;
   margin-top: -10px;
   color: #999999;
}

.special h3 {
   font-size: 20px;
   margin-top: -15px;
   font-weight: 600;
}

.activities {
   display: flex;
   flex-direction: column;
   margin: 0 10px;
   width: 40%;
}

.travel {
   display: flex;
   flex-direction: column;
   margin: 0 10px;
   width: 40%;

}

.private {
   display: flex;
   flex-direction: column;
   margin: 0 10px;
   width: 40%;
}

.location {
   display: flex;
   flex-direction: column;
   margin: 0 10px;
   width: 40%;

}

.detail {
   display: flex;
   flex-direction: column;
   justify-content: center;
   margin: 0 10px;
   text-align: justify;
}

.detail h1 {
   font-weight: bold;
   text-transform: uppercase;
   line-height: 1.3;
   text-align: left;
}

.detail p {
   font-style: italic;
   font-size: 20px;
   color: #999999;
   margin-top: 0;
}


/* !BEST ROOM SHOW */
.best-room {
   padding: 6em 0;
   position: relative;
   width: 100%;
}

.container {
   position: relative;
   max-width: 1200px;
   margin-right: auto;
   margin-left: auto;
}

.head-title {
   display: flex;
   justify-content: center;
   margin-bottom: 15px;
   text-transform: capitalize;
}

.row {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   gap: 40px 0;
   padding: 20px;
}

.row-content {
   position: relative;
   margin: 0 15px;
   flex: 0 0 30%;
   justify-content: center;
   align-items: center;
   border-radius: 10px;
   overflow: hidden;
}

.row-content:hover .image-room {
   width: 110% !important;
   opacity: 0.7 !important;
}

.row-content:hover .row-text {
   background: #00ffdc29;
}

.row .row-content .image-room {
   width: 100%;
   height: 350px;
   border-top-right-radius: 10px;
   border-top-left-radius: 10px;
   background-size: cover;
   background-position: center center;
   background-repeat: no-repeat;
}

.row-text {
   position: relative;
   font-size: 18px;
   padding: 15px 30px 35px 30px;
   border-bottom-right-radius: 10px;
   border-bottom-left-radius: 10px;
   border: 1px solid #ccc;
   z-index: 10;
}

.row-text .price {
   position: absolute;
   padding: 15px 30px;
   background: aqua;
   border-radius: 50px;
   left: 50%;
   transform: translateX(-50%);
   top: -30px;
   font-weight: bold;
   overflow: hidden;
}

.price::before {
   content: '';
   position: absolute;
   width: 157%;
   height: 60%;
   left: -28%;
   background: linear-gradient(#00ccff, #d400d4);
   animation: animate 5s linear infinite;
   z-index: -2;
}

.price::after {
   content: '';
   position: absolute;
   inset: 4px;
   background: orange;
   border-radius: 50px;
   z-index: -1;
}

.row-text .room {
   font-size: 25px;
   font-weight: bold;
}

.row-text .view {
   margin: 15px 0;
   color: #857e7e;
   font-size: 20px;
}

.row-text ul {
   padding: 15px 0 35px;

}

.row-text ul li {
   margin-right: 20px;
   display: inline-block;
   font-weight: bold;
}

.row-text .fas {
   color: aqua;
   font-size: 25px;
   margin-right: 10px;
}

.row-text a {
   width: 100%;
   background: aqua;
   padding: 10px 20px;
   border-radius: 15px;
}


/* Webpage Room */

@keyframes animate {
   0% {
      transform: rotate(0deg);
   }

   100% {
      transform: rotate(360deg);
   }
}

@media screen and (max-width: 768px) {
   .info {
      display: block;
      padding: 0 !important;
   }

   .detail {
      margin-top: 30px;
   }

   .special {
      justify-content: space-between;
      padding: 0;
      display: block;
   }

   .detail {
      padding: 0;
   }
}