:root {
   --bg-sub-nav: #54e6f7;
}

.nav a {
   text-transform: uppercase;
   margin-right: 1rem;
   line-height: 64px;
}

.nav li:hover {
   font-size: 20px;
}

.nav>li:hover .subnav {
   display: block;
}

.subnav li:hover {
   color: #000;
   background-color: var(--bg-sub-nav);
   border-radius: 10px;
}

.nav .subnav {
   display: none;
   min-width: 300px;
   top: 100%;
   left: 0;
   position: absolute;
   background-color: bisque;
   border-radius: 10px;
}

.nav .subnav li {
   font-size: 15px;
   padding: 0 16px;
   text-align: left;
}

.nav .subnav .subnav-item {
   flex-flow: wrap;
   justify-content: space-between;
}

#to-top {
   display: none;
   position: fixed;
   right: 12px;
   bottom: 12px;
   border-radius: 3px;
   padding: 7px 16px 5px;
   font-size: 21px;
   text-align: center;
   color: #000000;
   background-color: #1bbae1;
   opacity: 0.5;
   filter: alpha(opacity=20);
}

#to-top:hover {
   color: #ffffff;
   background-color: #1bbae1;
   text-decoration: none;
   opacity: 1;
   filter: alpha(opacity=100)
}