<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="../../../../output.css">
   <link rel="stylesheet" href="../../../../assets/font/fontawesome-free-5.15.4-web/css/all.min.css">
   <title>Document</title>
</head>

<body>
   <!-- This example requires Tailwind CSS v2.0+ -->
   <nav class="bg-gray-800">
      <div class="max-w-7xl mx-auto px-2 sm:px-6 lg:px-8">
         <div class="relative flex items-center justify-between h-16">
            <div class="absolute inset-y-0 left-0 flex items-center sm:hidden">
               <!-- Mobile menu button-->
               <button type="button"
                  class="inline-flex items-center justify-center p-2 rounded-md text-gray-400 hover:text-white hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white text-4xl"
                  aria-controls="mobile-menu" aria-expanded="false">
                  <i class="fas fa-bars"></i>
               </button>
            </div>
            <div class="flex-1 flex items-center justify-center sm:items-stretch sm:justify-start">
               <div class="flex-shrink-0 flex items-start">
                  <div class="block md:hidden h-8 w-auto">
                     <script src="https://cdn.lordicon.com/libs/mssddfmo/lord-icon-2.1.0.js"></script>
                     <lord-icon src="https://cdn.lordicon.com/hpxruznz.json" trigger="loop"
                        colors="primary:#16c72e,secondary:#08a88a" scale="31" axis-y="17"
                        style="width:100px;height:100px">
                     </lord-icon>
                  </div>
                  <div class="hidden md:block h-8 w-auto">
                     <script src="https://cdn.lordicon.com/libs/mssddfmo/lord-icon-2.1.0.js"></script>
                     <lord-icon src="https://cdn.lordicon.com/hpxruznz.json" trigger="loop"
                        colors="primary:#16c72e,secondary:#08a88a" scale="31" axis-y="17"
                        style="width:100px;height:100px">
                     </lord-icon>
                  </div>
               </div>

               <div class="flex-1 hidden sm:block sm:ml-6">
                  <div class="flex justify-start space-x-4 text-center">
                     <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
                     <a href="#"
                        class="text-white hover:text-pink-300 hover:bg-gray-600 px-3 py-2 rounded-md ">Dashboard</a>

                     <a href="#" class="text-white hover:text-pink-300 hover:bg-gray-600 px-3 py-2 rounded-md ">Team</a>

                     <a href="#"
                        class="text-white hover:text-pink-300 hover:bg-gray-600 px-3 py-2 rounded-md ">Projects</a>

                     <a href="#"
                        class="text-white hover:text-pink-300 hover:bg-gray-600 px-3 py-2 rounded-md ">Calendar</a>
                  </div>
               </div>
            </div>

            <div class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0">
               <div class="ml-auto flex items-center">
                  <div class="hidden lg:flex lg:flex-1 lg:items-center lg:justify-end lg:space-x-6">
                     <a href="../../../../../HOTEL/assets/components/login/login.php" class="text-white hover:text-pink-300">Sign in</a>
                     <span class="h-6 w-px bg-gray-200" aria-hidden="true"></span>
                     <a href="../../../../../hotel/assets/components/register/register.php" class="text-white hover:text-pink-300">Create account</a>
                  </div>

                  <div class="hidden lg:ml-8 lg:flex">
                     <a href="#" class="text-white hover:text-pink-300 flex items-center">
                        <img src="https://tailwindui.com/img/flags/flag-canada.svg" alt=""
                           class="w-5 h-auto block flex-shrink-0">
                        <span class="ml-3 block text-sm font-medium">
                           CAD
                        </span>
                        <span class="sr-only">, change currency</span>
                     </a>
                  </div>

                  <!-- Search -->
                  <div class="flex lg:ml-6">
                     <a href="#" class="p-2 text-gray-400 hover:text-gray-500">
                        <span class="sr-only">Search</span>
                        <!-- Heroicon name: outline/search -->
                        <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                           stroke="currentColor" aria-hidden="true">
                           <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                              d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
                        </svg>
                     </a>
                  </div>

                  <!-- Profile dropdown -->
                  <div class="ml-3 relative">
                     <div class="lg:hidden mr-5">
                        <button type="button"
                           class="bg-gray-800 flex text-sm rounded-full focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-800 focus:ring-white"
                           id="user-menu-button" aria-expanded="false" aria-haspopup="true">
                           <span class="sr-only">Open user menu</span>
                           <img class="h-8 w-8 rounded-full"
                              src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
                              alt="">
                        </button>
                     </div>

                     <div
                        class="sm:hidden origin-top-right absolute right-9 mt-2 w-48 rounded-md shadow-lg py-1 bg-white ring-1 ring-black ring-opacity-5 focus:outline-none"
                        role="menu" aria-orientation="vertical" aria-labelledby="user-menu-button" tabindex="-1">
                        <!-- Active: "bg-gray-100", Not Active: "" -->
                        <a href="#" class="block px-4 py-2 text-sm text-gray-700" role="menuitem" tabindex="-1"
                           id="user-menu-item-0">Sing in</a>
                        <a href="#" class="block px-4 py-2 text-sm text-gray-700" role="menuitem" tabindex="-1"
                           id="user-menu-item-1">Create account</a>
                        <a href="#" class="inline-block px-4 py-2 text-sm text-gray-700">
                           <img src="https://tailwindui.com/img/flags/flag-canada.svg" alt=""
                              class="w-5 h-auto inline-block flex-shrink-0">
                           CAD
                           <span class="sr-only">, change currency</span>
                        </a>
                     </div>
                  </div>
               </div>
            </div>
         </div>

         <!-- Mobile menu, show/hide based on menu state. -->
         <div class="sm:hidden" id="mobile-menu">
            <div class="px-2 pt-2 pb-3 space-y-1">
               <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
               <a href="#" class="text-white hover:text-pink-300 hover:bg-gray-600 block px-3 py-2 rounded-md">Dashboard</a>

               <a href="#" class="text-white hover:text-pink-300 hover:bg-gray-600 block px-3 py-2 rounded-md">Team</a>

               <a href="#"
                  class="text-white hover:text-pink-300 hover:bg-gray-600 block px-3 py-2 rounded-md">Projects</a>

               <a href="#"
                  class="text-white hover:text-pink-300 hover:bg-gray-600 block px-3 py-2 rounded-md">Calendar</a>
            </div>
         </div>
   </nav>

</body>

</html>