@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;1,300&display=swap');

* {
   text-decoration: none;
   box-sizing: border-box;
   --tw-bg-opacity: 1;
}

.search-statistical {
   background-color: rgb(63, 81, 163);
   color: #fff;
   margin: 0 4px 2px 4px;
   width: 100px;
   height: 30px;
   text-align: center;
   border-top-right-radius: 10px;
   border-top-left-radius: 10px;
}

.search-statistical:hover {
   background-color: rgb(39, 63, 173);
   color: rgb(0, 0, 0);
   cursor: pointer;
}

.active {
   background-color: rgb(0, 0, 0);
   color: #fff;
}

.txt-over {
   min-width: 100px;
   word-break: break-all;
   text-overflow: ellipsis;
   overflow: hidden;
   max-width: 200px;
}

.txt-over:hover {
   overflow: visible;
   word-break: break-all;
   white-space: initial;
}

.w-300 {
   width: 300px !important;
}

body {
   /* overflow-x: hidden; */
   font-family: 'Open Sans', sans-serif;
}

.img-radius {
   border-radius: 12px;
}

/* ? SIDEBAR */
.sidebar .sidebar-content {
   background-color: #0093E9;
   background-image: linear-gradient(157deg, #0093E9 0%, #58ccc0 100%);
}

.sidebar ul li:hover,
.sidebar ul li.hovered {
   background-color: rgba(31, 41, 55, var(--tw-bg-opacity));
   border-top-left-radius: 50px;
   border-bottom-left-radius: 50px;
}

.sidebar ul li:hover i,
.sidebar ul li.hovered i {
   color: yellowgreen;
}

.sidebar ul li:hover a::before,
.sidebar ul li.hovered a::before {
   content: '';
   position: absolute;
   top: -40px;
   right: 0;
   width: 40px;
   height: 40px;
   border-radius: 50%;
   box-shadow: 23px 23px 0 5px rgba(31, 41, 55, var(--tw-bg-opacity));
   background: transparent;
}

.sidebar ul li:hover a::after,
.sidebar ul li.hovered a::after {
   content: '';
   position: absolute;
   bottom: -40px;
   right: 0;
   width: 40px;
   height: 40px;
   border-radius: 50%;
   box-shadow: 23px -23px 0 5px rgba(31, 41, 55, var(--tw-bg-opacity));
   background: transparent;
}

/* ? ACCOUNT MANAGEMENT CSS */
.dataTables_wrapper .dataTables_length,
.dataTables_wrapper .dataTables_filter {
   padding: 0 0 10px 0;
}

table.dataTable.no-footer {
   margin-bottom: 20px;
   width: 100% !important;
}

.dataTables_wrapper {
   overflow-x: auto;
}

/*Pagination Buttons*/
.dataTables_wrapper .dataTables_paginate .paginate_button {
   font-weight: 700;
   border-radius: .25rem;
   border: 1px solid transparent;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current {
   color: #fff !important;
   box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .1), 0 1px 2px 0 rgba(0, 0, 0, .06);
   font-weight: 700;
   border-radius: .8rem;
   background: #667eea !important;
   border: 1px solid transparent;
}

/*Pagination Buttons - Hover */
.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
   color: #fff !important;
   box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .1), 0 1px 2px 0 rgba(0, 0, 0, .06);
   font-weight: 700;
   border-radius: .8rem;
   background: #667eea !important;
   border: 1px solid transparent;
}

@media screen and (max-width: 767px) {
   .dataTables_wrapper .dataTables_paginate {
      margin-top: 0.5em;
      display: flex;
      justify-content: space-between;
   }

   .statistics-responsive {
      flex: 100%;
      text-align: center;
   }
}

@media screen and (max-width: 640px) {
   .dataTables_wrapper .dataTables_filter {
      margin-bottom: 0.5em;
      margin-top: 0 !important;
   }
}

@media (min-width: 768px) {
   .container {
      max-width: 100%;
   }

}


/* ? Statistical css*/
#main-contend {
   flex: 1;
   overflow-x: hidden;
}

.account-management {
   display: none;
}

.employ-management {
   display: none;
}

.room-management {
   display: none;
}

.statistical {
   display: none;
}

.open {
   display: block !important;
}