@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;1,300&display=swap');

* {
   text-decoration: none;
   box-sizing: border-box;
}

body {
   overflow-x: hidden;
   padding: 0 !important;
   margin: 0 !important;
   line-height: 1.5 !important;
   font-family: 'Open Sans', sans-serif;
}

.margin-auto {
   max-width: 1200px;
   margin-right: auto;
   margin-left: auto;
   padding: 20px;
}