<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="../../../../output.css">
   <link rel="stylesheet" href="../footer/footer.css">
   <link rel="stylesheet" href="../../../font/fontawesome-free-5.15.4-web/css/all.min.css">
   <title>Document</title>
</head>

<body>
   <div class="header">
      <div class="w-full header-curve bg-main-footer">
         <div class="flex flex-wrap text-center text-white">

            <div class="w-full md:w-1/3 p-5 border-r-2 border-opacity-30">
               <div class="animate-bounce my-6 text-xl font-semibold">ABOUT US</div>
               <p class="p-3 text-gray-200 text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean
                  ac est massa.
                  Donec eget elementum sapien, tincidunt tempor nunc. Cras sodales id ipsum at convallis.</p>
               <p class="p-3 text-gray-200 text-justify">Morbi tristique massa nec massa auctor, at scelerisque felis
                  consectetur. Morbi
                  tempus et odio sit amet feugiat. Maecenas dignissim a turpis in molestie. Fusce tincidunt vestibulum
                  iaculis.</p>
            </div>


            <div class="w-full md:w-1/3 p-5 border-r-2 border-opacity-30">
               <div class="animate-bounce my-6 text-xl font-semibold">CONTACT US</div>
               <p class="p-3 text-gray-200">
                  56 Nguyen Thuat Street <br>
                  Hoa An, Cam Le, Da Nang<br>
                  Viet Nam <br>
                  <strong>Phone:</strong> <a class="text-blue-200 hover:underline hover:text-blue-400" href="tel:+84 385 555 555">+84 385 555 555</a> <br>
                  <strong>Email:</strong> <a class="text-blue-200 hover:underline hover:text-blue-400" href="mailto:infohotel@gmail.com">infohotel@gmail.com</a>
               </p>

               <div class="relative w-20 h-20 mx-auto my-12 bg-blue-300 rotate-45">
                  <div class="flex justify-center items-center absolute left-0 top-0 w-10 h-10 hover: hover:-mt-1 bg-blue-800 cursor-pointer">
                    <i class="fab fa-facebook-f fa-lg text-blue-500 -rotate-45"></i>
                  </div>
                  <div class="flex justify-center items-center absolute top-0 right-0 w-10 h-10 hover:-mt-1 hover:-mr-1 bg-blue-800 cursor-pointer">
                    <i class="fab fa-twitter fa-lg text-blue-500 -rotate-45"></i>
                  </div>
                  <div class="flex justify-center items-center absolute right-0 bottom-0 w-10 h-10 hover:-mr-1 hover:-mb-1 bg-blue-800 cursor-pointer">
                    <i class="fab fa-google-plus-g fa-lg text-blue-500 -rotate-45"></i>
                  </div>
                  <div class="flex justify-center items-center absolute bottom-0 left-0 w-10 h-10 hover:-mb-1 hover:-ml-1 bg-blue-800 cursor-pointer">
                    <i class="fab fa-linkedin-in fa-lg text-blue-500 -rotate-45"></i>
                  </div>
                </div>
              </div>


            <div class="w-full md:w-1/3 p-5">
               <div class="animate-bounce mt-6 text-xl font-semibold">SAY HELLO!</div>
               <form class="p-3 w-4/5 mx-auto mt-2 px-6 pt-6 pb-4 rounded">
                  <div class="flex items-center mb-4">
                     <input class="w-full h-10 p-2 border-blue-200 bg-white text-gray-800" type="email"
                        placeholder="example@gmail.com" required>
                  </div>
                  <div class="flex items-center mb-4">
                     <input class="w-full h-10 p-2 border-blue-200 bg-white text-gray-800" type="password"
                        placeholder="password" required>
                  </div>
                  <div class="mb-6">
                     <textarea class="w-full h-24 px-2 pt-2 border-blue-200 bg-white text-gray-800"
                        placeholder="Message" required></textarea>
                  </div>
                  <div class="flex justify-between items-center bg-btn">
                     <button class="animate-pulse bg-btn w-full py-2 px-4 rounded text-white font-bold"
                        type="submit">SEND</button>
                  </div>
               </form>
            </div>

         </div>
      </div>
   </div>
</body>

</html>