<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="../../../output.css">
   <title>Document</title>
</head>

<body>
   <div class="w-1/2 h-1/2 p-5">
      <div class="detail-view"
         style="background-image: url(../../image/item-slider-login/slider-login1.jpg); background-repeat: no-repeat; background-size: cover;">
      </div>
   </div>

   <script src="./roomdetail.js"></script>

</body>

</html>